*{
  font-family: 'poppins', sans-serif;
}

.container2{
  position: relative;  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container2 header{
  font-size: 20px;
  position: relative;
  font-weight: 500;
  color: #333;
}
.container2 header::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
   border-radius: 8px;
   background-color: #4070f4;
}
.container2 form{
  position: relative;
  min-height: 490px;
  margin-top: 16px;
background-color: #fff;
}
.container2 form .form{
  position: absolute;
  background-color: #fff;
}
.container2 form .form.second{
  opacity: 0;
  pointer-events: none;
}
form.secActive .form.second{
  opacity: 1;
  pointer-events: auto;
}
form.secActive .form.first{
  opacity: 0;
  pointer-events: none;
}
.container2 form .details{
  margin-top: 10px;
}
.container2 form .details.ID{
margin-top: 10px;
}
.container2 form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container2 form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container2 form .input-field{
    display: flex;
    width: calc(100% / 3  - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input,select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  color: #333;
  padding: 0 15px;
  border: 1px solid #aaa;
  height: 42px;
  margin: 8px 0;
}
.input-field input:is(:focus, :valid){
  box-shadow:  0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field input[type="date"]{
  color: #707070;
}
.input-field input[type="date"]:valid{
  color: #333;
}
.container2 form button, .backBtn, .nextBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  max-width: 200px;
  background-color: #4070f4;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s linear;
  cursor:pointer;
  margin: 25px 0;
}
form button:hover{
  background-color: #265df2;
}
.container2 form button, 
.container2 form .backBtn{
  font-size: 14px;
  font-weight: 400;
}
form .buttons{
  display: flex;
  align-items: center;
  gap: 18px;
}
.success{
  background-color: #265df2;
  color: white;
  padding: 0.4rem;
  display: none;
  border-radius: 0.4rem;
}
.fail{
  background-color: #cc1616;
  color: white;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 1s;
}
